<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">

      <!-- Password reset form -->
      <form class="well" ng-submit="rc.change(password)">
        <div ng-if="rc.alert.message" ng-class="rc.alert.type">{{rc.alert.message}}</div>
        <div class="form-group">
          <label>New Password</label>
          <input type="password" name="password" class="form-control" ng-model="password">
        </div>
        
        <button class="btn btn-warning btn-lg">Change password</button>
      </form>

    </div>
  </div>
</div>