<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p>
        Welcome the React Minneapolis! This application showcases the differences between creating applications in React and Angular. You're in the Angular application.
      </p>
    </div>
  </div>
</div>